
body{
  background: url(./fondod.jpg) no-repeat center center fixed;
  color:#000;

}

.login{
  margin: 7% auto;
  height: 400px;
  width: 400px;
  border-radius: 4px;
  /*rgba(232,234,246,0.9);*/
  padding: 20px;
  color:#fff;
  font-size: 20px;
  text-shadow:-1px 1px 1px  rgba(26, 35, 126, 0.5);

  }

h3{
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow:-1px 1px 1px  rgba(26, 35, 126, 0.5);

}
h2{
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight:bold;
}
#doc{
 color: #283593;
}
.titulo{
  text-align: center;
  margin-top: 5px;
  color: #fff;
}
.formulario{
  margin-top:25px;
}
.btn{
  background:#1A237E;
  color: #fff;
  border-color:#1A237E;
  font-weight: bold;
}
.btn:hover{
  background:#0e165f;
  color: #fff;
  border-color:#1b2377;

}
.form-group label{

  text-align: center;
}
.form-group{
  margin: 7% 0;
}
