
.container-formulario {
  background: white;
  border-radius: 4px;
  padding: 2%;
  margin-bottom: 10px;
}

.panel-default{
  border-radius: 4px;
  margin-bottom: 13px;
}

.container-farmacos{
  border-radius: 4px;
  vertical-align: top;
}

.personal-izquierda{
  width: 42%;
  display: inline-block;
}
.personal-central{
  width: 25%;
  display: inline-block;
}

.personal-derecha{
  width: 25%;
  display: inline-block;
}

p{
  display: inline-block;
}
.buscador{
  display: inline-block;
  margin-right: 4px;
}
.boton{
  display: inline-block;
  vertical-align: top;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1001;
    opacity: .85;
}
.modal {
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 60%;
    padding: 16px;
    background: #fff;
    color: #333;
    z-index: 1002;
    overflow: auto;
}
